@using PagedList;
@using PagedList.Mvc;

@model ViewModelsAssignment.Models.PeopleViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Title:@Html.TextBox("searchString")<input type="submit" value="Filter" /> <br /><br />
        
    </p>

    }
    <br />
    @Html.ActionLink("Create New", "Create")
    
    <table class="table">
        <tr>

            <th>
                @Html.ActionLink("Name","Index",new { sortBy= ViewBag.SortNameParameter, searchString=Request.QueryString["searchString"] } )
            </th>
            <th>
                @Html.ActionLink("City", "Index", new { sortBy = ViewBag.SortCityParameter, searchString = Request.QueryString["searchString"] })

            </th>
            <th>
                @Html.DisplayNameFor(model => model.People.First().Phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.People)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                    
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
@Html.PagedListPager(Model.pagedList,page=>Url.Action("Index", new { page, searchString=Request.QueryString["searchString"], sortBy= Request.QueryString["sortBy"] }),
    new PagedListRenderOptions() { Display=PagedListDisplayMode.IfNeeded,DisplayPageCountAndCurrentLocation=true,DisplayItemSliceAndTotal=true}
    )
